
  <div class = "container">
        <div class = "row">
          <div class = "col-sm-2">
            <button (click)="showOverview()" style = "margin:15px">Overview</button>
      
            <button (click)="showContact()" style = "margin:15px">Contact</button>
          </div>
          <div class = "col-sm-10">
        <h3>
          You have selected ID  {{employeeId}}.
         
        </h3>
        </div> 
        
        
        <div>
          
        </div>
        
        </div>
        <div class = "row">
        <div class = "col-sm-2">
        </div>
        
        <button (click)= "goPrevious()" style = "margin:15px">Previous</button>
        <button (click)= "goNext()" style = "margin:15px">Next</button>
        <button (click)="gotoEmployees()" style = "margin:15px">Back</button>
        </div>
        <div class = "row">
        <div class = "col-sm-2">
        </div>
        
      
        </div>
       </div>
       
   <router-outlet></router-outlet>