<div class="container">
What is Angular?
<p>
Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates
, dependency injection, end to end tooling, and integrated best practices to solve development challenges.
Angular empowers developers to build applications that live on the web, mobile, or the desktop
</p>

Assumptions
<p>
This documentation assumes that you are already familiar with JavaScript, and some of the tools from the latest
 standards such as classes and modules. The code samples are written using TypeScript. Most Angular code can be
  written with just the latest JavaScript, using types for dependency injection, and using decorators for metadata.
</p>
Feedback
<p>
You can sit with us!
</p>
<p>
You can file documentation issues and create pull requests on the Angular Github repository. The contributing 
guide will help you contribute to the community. Our community values respectful, supportive communication.
</p>
<p>
Please consult and adhere to the code of conduct.

</p>

Getting Started
<P>
Good tools make application development quicker and easier to maintain than if you did everything by hand.
</P>
<p>
The Angular CLI is a command line interface tool that can create a project, add files, and perform a variety of 
ongoing development tasks such as testing, bundling, and deployment.
</p>
<p>
The goal in this guide is to build and run a simple Angular application in TypeScript, using the Angular CLI 
while adhering to the Style Guide recommendations that benefit every Angular project.
</p>
<p>
By the end of the chapter, you'll have a basic understanding of development with the CLI and a foundation for both
these documentation samples and for real world applications.
</p>

And you can also download the example.


</div>




