
<!--The content below is only a placeholder and can be replaced.-->
<div class = "container" >
  
  
    <!-- Routing and Navigation -->
    
    <nav style="background-color: dodgerblue">
        
     
      <a routerLink = "" routerLinkActive="active">
      <img src="assets/logo.png" style="width: 160px;height:50px; margin-bottom: 5px">
      </a>

      <a routerLink = "/departments" routerLinkActive="active" style="font-size: x-large; margin: 10px">Departments</a>
      <a routerLink = "/employees" routerLinkActive="active " style="font-size: x-large; margin: 10px">Employees</a>
      <a routerLink = "/students" routerLinkActive="active " style="font-size: x-large; margin: 10px">Students</a>

      <a href = "https://github.com/" style="float:right; ">
        <img src="https://png.icons8.com/small/50/000000/github.png">
      </a>
      <a href = "https://twitter.com/login?lang=en" style="float:right; ">
        <img src="https://png.icons8.com/ios/50/000000/twitter.png">
      </a>
      <input href= "https://www.google.com/"  style="border-radius: 15px; height: 35px; float: right; margin-top: 10px; width: 220px; float:right;" type="text" placeholder="search"/>
     
    </nav>
    



</div>
<router-outlet></router-outlet>

